@import url(./__item/__item.css);
@import url(./__item/_page-about/navigation__item_page-about.css);
@import url(./__items/__items.css);
@import url(./__links/__links.css);
@import url(./__list/__list.css);
@import url(./__logo/__logo.css);
@import url(./__logo/_page-about/navigation__logo_page-about.css);
@import url(./__item/_active/_active.css);
@import url(./__item/_active/_page-about/navigation__item_active_page-about.css);

.navigation{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
} 