.slider__title{
    width: 712px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;

    margin: 72px 342px 64px 104px;
}