.header__paragraph{
    width: 545px;
    color: white;

    margin: 0;
    padding-right: 63px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 480px){
    .header__paragraph{
        font-size: 20px;
        line-height: 26px;
        padding: 0;
    }
}