.diagram__number{
    margin: 2% 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    text-align: center;
}

.diagram__number:first-child{
    text-align: start;
}

.diagram__number:last-child{
    text-align: end;
}