.diagram__line {
    display: flex;
    margin: 0;
    padding: 4px 0 4px 0;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #2F71E5;
}