@import url(./__button/__button.css);
@import url(./__field/__field.css);

.search{
    width: 608px;

    position: relative;

    margin: 64px auto 0px auto;
}

@media screen and (max-width: 480px) {
    .search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}