@import url(./__title/card__title.css);
@import url(./__publisher/card__publisher.css);
@import url(./__paragraph/card__paragraph.css);
@import url(./__image/card__image.css);
@import url(./__description/card__description.css);
@import url(./__date/card__date.css);

.card{
    width: 400px;
    background-color: white;
    border-radius: 10px;
}