.gh-card__date{
    padding: 24px 0 0 24px;
    margin: 0;
    width: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
}