.result__add {
    width: 288px;
    height: 64px;
    background: #FFFFFF;
    border: none;
    border-radius: 80px;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    margin: 64px auto 80px auto;
    color: #1A1B22;
    opacity: 1;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

.result__add:hover{
    opacity: 0.7;
}

@media screen and (max-width: 7200px) {
    .result__add {
        width: 350px;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 450px) {
    .result__add {
        width: 100%;
        margin: 14px 20px;
    }
}