@import url(./__paragraph/header__paragraph.css);
@import url(./__paragraph/_page-about/header__paragraph_page-about.css);
@import url(./__titile/header__title.css);
@import url(./__titile/_page_analytics/header__title_page-analytics.css);
@import url(./__titile/_page-about/header__title_page-about.css);
@import url(./__texts/header__texts.css);
@import url(./__texts/_page-about/header__texts_page-about.css);
@import url(./__texts/_page-analytics/header__texts_page-analytics.css);
@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__item/header__item.css);
@import url(./__item/_state_active/header__item_state_active.css);
@import url(./__paragraph/_page-analytics/header__paragraph_page-analytics.css);
@import url(./__number/header__number.css);

.header{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url(../../images/header-back.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1050px) {
    .header {
        background: url(../../images/header1050.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 480px) {
    .header {
        background: url(../../images/header320px.jpg) no-repeat;
        background-size: cover;
    }
}